@use 'assets/scss/_themes.scss';

.ProfileTechnique {
  &__table {
    padding: 16px;
    background: #ffffff;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__back_handler {
    outline: none;
    border: 0;
    background: transparent;
  }

  &__header {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-title {
    display: flex;
    align-items: baseline;
  }

  &__title {
    display: flex;
    font-weight: 400 !important;
  }

  &__technique-image {
    width: 242px !important;
    height: 182px !important;
    vertical-align: middle;
    object-fit: contain;
  }

  &__subtitle {
    margin: 0;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 700 !important;
  }

  &__technique-profile-info {
    display: flex;
    gap: 37px;
    margin-bottom: 24px;
  }

  &__form-block {
    display: flex;
    gap: 13px;
    > div {
      width: 100%;
    }
  }

  &__profile-title {
    margin-top: 0;
  }

  .ant-input {
    padding: 0;
  }

  &__open-map {
    display: flex;
    align-items: center;
    gap: 5px;
  }
  &__images_tractor {
    > button {
      display: none;
    }
  }

  .text_hidden {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
  }

  .ant-form-vertical .ant-form-item-row {
    background-color: transparent!important;
  }
  .ant-form-item .ant-form-item-label > label {
    color: themes.$gray-color;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-form-vertical .ant-form-item-label,
  :where(.css-dev-only-do-not-override-sk7ap8).ant-col-24.ant-form-item-label,
  :where(.css-dev-only-do-not-override-sk7ap8).ant-col-xl-24.ant-form-item-label {
    padding: 0;
  }

  :where(.css-dev-only-do-not-override-sk7ap8).ant-input {
    padding: 0;
  }
}

@media screen and (max-width: 990px) {
  .ProfileTechnique {
    &__header {
      display: none;
    }

    &__form-block {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }

    &__profile-title {
      margin-left: 14px;
    }

    &__technique-image {
      width: 100% !important;
      border-radius: 8px!important;
      vertical-align: auto!important;
      object-fit: cover;
    }
    &__images_tractor {
      width: 242px;
      height: 260px;
      background-color: #F9F9F9;
      padding-top: 20px;
      padding-left: 10px;
      padding-right: 10px;
      border-radius: 12px;

      .ant-image {
        width: 100% !important;
      }
      > button {
        margin-top: 10px;
        display: block;
        width: 100%;
        height: 36px;
        background-color: #FFFFFF;
        border: none;
        color: #689F3A;
      }
    }
  }
}

@media screen and (max-width: 800px) {
  .ProfileTechnique {
    &__form-block {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-column-gap: 10px;
      grid-row-gap: 10px;
    }
    &__profile-title {
      margin-left: 0;
    }

    &__images_tractor {
      height: 400px;
    }

    &__images_tractor {
      > button {
        margin-top: 20px;
      }
    }
    .ant-form-vertical .ant-form-item-row {
      padding: 0;
    }
  }
}

@media screen and (max-width: 580px) {
  .ProfileTechnique {
    &__technique-profile-info {
      display: block;
    }

    &__technique-image {
      height: 260px!important;
    }

    &__images_tractor {
      > button {
        margin-top: 15px;
      }
    }
    &__images_tractor {
      width: 100%;
      height: 100%;
      padding-bottom: 20px;
    }

    &__profile-title {
      margin-top: 10px!important;
      margin-bottom: 10px!important;
    }

    &__form-block {
      grid-template-columns: repeat(1, 1fr);
    }

    .ant-form-vertical .ant-form-item-row {
      background-color: #F6F6F6!important;
      padding: 14px;
    }

    .ant-table-content > table {
      width: 450px!important;
    }
  }
}
