@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.Technique {
  &__table {
    padding: 16px;
    background: themes.$white-color;
  }

  &__name-column-style-text {
    position: absolute;
    left: 20px;
  }

  &__card-block {
    padding-bottom: 15px;
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    > h3 {
      margin: 0;
    }

    margin-bottom: 28px;
  }

  &__view-button {
    background: #ecf4ff;
    border: none;
    color: #1358bf;
    font-weight: 700;
    font-size: 14px;
  }

  &__card-style {
    height: 100%;
  }

  &__card-style-blocks {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  &__table_mobile {
    display: none;
  }

  &__card-style-cloud {
    background: themes.$cloud-color;
  }

  &__card-style-cloud-blocks {
    display: flex;
    flex-direction: row;
    gap: 12px;
  }

  &__card-style-cloud-button {
    margin-top: 5px;
    background: themes.$cloud-bg-button;
    color: themes.$info-color;
    font-weight: 700;
    font-size: 12px;
    border: transparent;
    padding: 0 10px;
  }

  &__image-styles {
    width: 48px;
    height: 50px;
    overflow: clip;
    border-radius: 3px;
    object-fit: cover;
  }

  &__card-title {
    font-size: 12px !important;
    font-weight: 700 !important;
    text-transform: uppercase;
    margin-bottom: 18px !important;
  }

  &__card-content {
    display: flex;
    gap: 30px;
    margin-bottom: 12px;

    > p {
      margin: 0;
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__card-title {
    margin-right: 10px;
  }

  &__logo {
    display: none;
  }

  &__card-technique-block {
    display: none;
  }

  &__cloud_block_style {
    display: none;
  }

  &__mobile_data {
    display: none;
  }

  @include mixins.bp(mobile) {
    &__logo {
      display: none;
    }

    &__card-technique-block {
      display: none;
    }

    &__card-style-blocks {
      position: absolute;
      top: 70px;
      width: 100% !important;
      left: 0;
      right: 0;
      > div {
        width: 100%;
        margin-right: 20px;
        margin-left: 20px;
        height: 94px;
      }
    }

    &__card-style-cloud {
      width: 100% !important;
    }

    &__title {
      display: none;
    }
    &__mobile_data {
      display: block;
      .tractor {
        border-bottom: 1px solid #f5f7fa;
        height: 32px;
        display: flex;
        align-items: center;
        padding-bottom: 10px;
        margin-top: 0;
        .text_mobile_header {
          padding-left: 10px;
          color: #6c7994;
          font-size: 11px;
          > b {
            font-size: 14px;
          }
        }
      }
    }

    &__btn_mobile {
      > div {
        display: flex;
        justify-content: space-between;
        flex-wrap: nowrap!important;
        gap: 10px;

        > button {
          max-width: 100%;
        }
      }
    }

    &__card_btn_technique {
      display: none!important;
    }

    &__title_drawer {
      margin-left: -30px;
    }

    &__btn_mobile {
      margin-top: 84px;
      > h3 {
        font-weight: 500;
      }

      > div {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;

        > button {
          border: none;
          max-width: 190px;
          width: 100%;
          height: 104px;
          text-align: left;
          background-color: #f8f8f8;
          border-radius: 12px;
          padding: 14px;
          > p {
            margin-top: 0px;
            font-size: 11px!important;
            font-weight: 500;
          }
        }
      }
    }

    &__table {
      display: none;
    }

    &__card-style-cloud-button {
      top: 10px;
      left: 34px;
    }

    &__cloudy_img {
      margin-top: -13px;
    }

    &__card-style-cloud-button_meteo {
      top: 32px;
      left: 32px;
    }

    .meteo-title_cloudy {
      position: absolute;
      top: 0;
      left: 57px;
    }

    .meteo-title {
      position: absolute;
      top: 36px;
      left: 57px;
    }

    &__card-style-cloud-button_meteo:disabled {
      position: absolute;
      top: 30px;
      left: 32px;
    }

    &__cloudy_img_not {
      top: 16px;
    }
    &__table_mobile {
      margin-left: 20px;
      margin-right: 20px;
      margin-bottom: 70px;
      display: block;

      > div {
        width: 100%;
        background-color: #ffffff;
        padding: 16px;
        margin-bottom: 10px;
        border-radius: 12px;

        .table_img {
          display: flex;
          > div {
            > img {
              width: 32px;
              height: 37px;
              border-radius: 8px;
            }
          }

          .text_table {
            line-height: 0.5;
            margin-top: -10px;
            padding-left: 15px;
            > p {
              > b {
                font-weight: 500;
                color: #161a24;
              }

              color: #79859e;
            }
          }
        }
      }
    }
    &__tractor_icon_mobile {
      border-radius: 50%;
    }

    &__card-style-cloud-blocks {
      position: relative;
    }

    &__card-style-cloud {
      height: 44px!important;
    }
    &__card-style-cloud-button:disabled {
      position: absolute;
      top: -24px;
      left: 15px;
    }

    &__cloudy_img_not {
      margin-top: -20px;
    }

    .meteo-title_cloudy {
      margin-top: -20px!important;
    }
    .meteo-title {
      margin-top: -40px!important;
    }

    &__card-style-cloud-button_meteo {
      background: linear-gradient(103.37deg, #3d9fff 2.9%, #1785f0 64.65%) !important;
    }
    &__card-style-cloud-button_meteo {
      width: 160px;
      left: -23px !important;
      top: 22px !important;
      height: 24px!important;
      font-size: 10px!important;
    }
    &__card-style-cloud-button_meteo:disabled {
      background-color: #7E848F!important;
    }
  }

  @include mixins.bp(desktop) {
    &__card-style-blocks {
      justify-content: left;
    }
    &__logo {
      display: block;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 200;

      > img {
        width: 96px;
        height: 40px;
      }
    }

    &__card-technique {
      display: none;
    }

    &__card-technique-block {
      display: block;
      width: 214px;
      background-color: #f5f6ff;
      padding: 14px 16px 0px 12px;
      border-radius: 12px;
      margin-right: 20px;
      .logo_mobile {
        width: 24px;
        height: 24px;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 30px;

        > img {
          width: 16px;
          height: 16px;
        }
      }

      > p {
        margin-top: 3px;
      }
    }

    &__card-content {
      margin-top: -15px;
      > p {
        font-size: 13px;
      }
    }

    &__cloud_block {
      display: none;
    }

    &__cloud_block_style {
      display: block;
    }

    &__card-style-cloud {
      background: linear-gradient(103.37deg, #3d9fff 2.9%, #1785f0 64.65%);
    }
    &__cloudy_img_not {
      position: absolute;
      top: 8px;
      left: 15px;
    }

    .meteo-title_cloudy {
      color: #ffffff;
      font-weight: 400;
      font-size: 12px;
      margin-left: -10px;
      margin-top: 6px;
    }
    .meteo-title {
      color: #ffffff;
      font-size: 12px;
      margin-left: -10px;
      margin-top: -16px;
      font-weight: 600;
    }

    &__cloudy_img {
      margin-left: -10px;
    }

    &__card-style-cloud-button_meteo {
      position: absolute;
      left: 0;
      bottom: 2px;
      background: transparent;
      border: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
    }

    &__card-style-cloud-button_meteo:disabled {
      position: absolute;
      left: 0;
      bottom: 2px;
      background: transparent;
      border: none;
      color: #ffffff;
      font-weight: 500;
      font-size: 12px;
    }

    &__card-style-cloud-button {
      position: absolute;
      left: 0;
      top: 40px;
      background: transparent !important;
      font-size: 11px;
    }

    &__card-style-cloud-button:disabled {
      background: transparent !important;
      color: #ffffff;
    }

    &__title {
      display: block;
      padding-left: 10px;
      > h3 {
        margin-left: -10px;
      }
    }

    &__btn_title {
      margin-top: 10px;
      > button {
        width: 242px;
        height: 40px;
        border-radius: 8px;
        border: none;
        box-shadow: none;
      }
    }

    &__btn_click {
      display: flex;
      margin-top: 5px;
      > button {
        background-color: transparent;
        border: none;
        padding: 0;
        margin-right: 10px;
        > img {
          width: 36px;
          height: 36px;
        }
      }
    }

    &__view-button {
      width: 242px;
      height: 40px;
      background-color: #f8f8f8;
      border-radius: 8px;
      color: #689f3a;
    }

    &__title_drawer {
      font-weight: 500;
      font-size: 15px;
      color: #1d2024;
      text-align: center;
      margin: 0;
      padding: 0;
    }
  }
}

.meteo-h1 {
  margin: 0 !important;
  padding: 0;
}

.send-button {
  background: #0078a8;
}
