.OpenMapComponent {
  position: relative;

  &__card-block {
    position: fixed;
    padding-left: 20px;
    top: 74px;
    z-index: 999;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }

  &__card-block-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 270px;
  }

  &__card-style {
    display: flex;
    right: 0;
    border-radius: 58px;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__not_coordinates {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    > h1 {
      font-weight: 400;
      font-size: 26px;
    }
  }

  &__header-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    margin: 0 !important;
    font-weight: 400 !important;
  }

  &__img-title {
    margin: 0 10px 0 22px;
    width: 28px;
  }

  &__subtitle {
    margin: 0 !important;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 20px;
    > span {
      display: block;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__render_btn {
    position: absolute;
    bottom: 150px;
    background-color: #689f3a !important;
    color: #ffffff !important;
    font-size: 14px;
    right: 10px;
    width: 36px;
    height: 36px;
    z-index: 1000;
    padding: 0 !important;
  }

  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title_maps {
    display: none;
  }

  &__title_uppercase {
    text-transform: uppercase;
  }

  .ant-card .ant-card-body {
    padding: 8px;
  }
}

.leaflet-left {
  right: 10px;
  bottom: 80px;
  left: auto;
  top: auto;
}

.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
}

.img-tractor {
  width: 28px;
}

.ant-layout-content::-webkit-scrollbar {
  width: 0;
}

.ant-layout-content::-webkit-scrollbar {
  width: 0;
}

@media (max-width: 990px) {
  .OpenMapComponent {
    &__card-block-info {
      padding-right: 20px;
    }
    .leaflet-left {
      bottom: 140px;
    }


    &__render_btn {
      bottom: 210px;
    }

    &__title_maps {
      display: block;
    }

    &__header-title > button {
      position: relative;
      z-index: 100;
    }
  }

  .top_btn {
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 0 0 #ffffff!important;
    > div {
      width: 100%;
      padding: 0!important;
      > div > p {
        width: 100%;
        text-align: center;
        margin-top: -23px;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 720px) {
  .OpenMapComponent {
    &__card-block {
      top: auto;
      display: block;
      padding-left: 0;
    }
    &__card-block-info {
      width: 100%;
      justify-content: center;
      background-color: #ffffff;
      gap: 0;
      margin-top: -5px;
      padding-bottom: 10px;
    }

    &__card-style {
      box-shadow: 0 0 0 0 #ffffff!important;
    }

    &__subtitle {
      font-size: 14px!important;
      padding-left: 0;
      padding-right: 0;

      > span {
        font-size: 14px;
      }
    }

    &__img-title {
      margin: -3px 5px 0px -6px;
      width: 23px;
    }
  }

  .img-tractor {
    width: 23px;
  }

  .top_btn > div > div > p {
    border-bottom: 1px solid #EBF3FF;
    padding-bottom: 12px;
  }
}

@media (max-width: 540px) {
  .OpenMapComponent {

    &__card-block-info {
      width: 100%;
      justify-content: center;
      flex-wrap: wrap;
      background-color: #ffffff;
      gap: 0;
      margin-top: -5px;
      padding-bottom: 10px;
      padding-right: 0;
    }
  }
}
