.OpenMapComponent {
  position: relative;

  &__card-block {
    position: fixed;
    margin: 0 30px 0 55px;
    width: 75%;
    top: 74px;
    z-index: 999;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
  }

  &__card-block-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }

  &__card-style {
    display: flex;
    border-radius: 58px;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__not_coordinates {
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    > h1 {
      font-weight: 400;
      font-size: 26px;
    }
  }

  &__header-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title {
    display: flex;
    margin: 0 !important;
    font-weight: 400 !important;
  }

  &__img-title {
    margin: 0 10px 0 22px;
    width: 28px;
  }

  &__subtitle {
    margin: 0 !important;
    padding-left: 7px;
    padding-right: 7px;
    font-weight: 700 !important;
    text-transform: uppercase;
    font-size: 20px;
    > span {
      display: block;
      font-size: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  &__render_btn {
    position: absolute;
    bottom: 150px;
    background-color: #689f3a !important;
    color: #ffffff !important;
    font-size: 14px;
    right: 10px;
    width: 36px;
    height: 36px;
    z-index: 1000;
    padding: 0 !important;
  }

  &__loading {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__title_uppercase {
    text-transform: uppercase;
  }

  .ant-card .ant-card-body {
    padding: 8px;
  }
}

.leaflet-left {
  right: 10px;
  bottom: 80px;
  left: auto;
  top: auto;
}

.leaflet-div-icon {
  background-color: transparent !important;
  border: none !important;
}

.img-tractor {
  width: 28px;
}
