@use "assets/scss/_themes.scss";

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  overflow: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body::-webkit-scrollbar {
  width: 0;
}

body::-webkit-scrollbar {
  width: 0;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.leaflet-marker-icon.leaflet-interactive, .leaflet-image-layer.leaflet-interactive, .leaflet-pane > svg path.leaflet-interactive, svg.leaflet-image-layer.leaflet-interactive path:not([stroke-linejoin]) {
  stroke-linecap: butt !important;
}

.block_next {
  position: absolute;
  top: -10px;
  z-index: 1000;
}

::-webkit-scrollbar {
  width: 5px;
}

::-webkit-scrollbar-thumb {
  -webkit-border-radius: 10px;
  border-radius: 10px;
  background-color: #999;
}

::-webkit-scrollbar-thumb {
  background-color: #ccc;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #aaa;
}

::-webkit-scrollbar-thumb:active {
  background-color: #999;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #999;
}

::-webkit-scrollbar-thumb:window-inactive {
  background-color: #999;
}

::-webkit-scrollbar-thumb:horizontal {
  display: none;
}


.layout {
  width: 100%;
  height: 100%;
  background: themes.$white-color;
  overflow: auto;
  padding-bottom: 30px;
}

.title {
  margin: 0;
  padding: 16px 0 15px 0;
}

.password-width {
  width: 35%;
}

.btn_none_style {
  cursor: pointer;
  outline: none;
  border: 0;
  background: transparent;
}

.title_signIn {
  font-weight: 700;
  color: #273043;
  font-size: 18px;
  line-height: 24.51px;
}


.input-styles {
  &:hover {
    border-color: themes.$disabled-color !important;
  }

  &:focus {
    border-color: themes.$disabled-color !important;
  }
}

.label-styles {
  > div > div {
    padding-bottom: 0 !important;
  }

  > div > div > label {
    color: themes.$gray-color !important;
  }
}

button:disabled {
  background-color: themes.$disabled-color !important;
}

.form-block-password {
  justify-content: end !important;
  > div {
    width: 50%;
  }
}

.blue-row {
  background-color: themes.$light-blue-bg;
}

.ant-form-item .ant-form-item-label > label {
  color: themes.$gray-color !important;
}

.spin {
  position: absolute;
  top: 50%;
  left: 50%;
}

// antd styles

// inputs styles
:where(.css-dev-only-do-not-override-sk7ap8).ant-btn-primary:disabled {
  border-color: themes.$disabled-color;
  background-color: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input-affix-wrapper:not(:where(.css-dev-only-do-not-override-sk7ap8).ant-input-affix-wrapper-disabled):hover {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input-affix-wrapper:focus, :where(.css-dev-only-do-not-override-sk7ap8).ant-input-affix-wrapper-focused {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input:hover {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-input:focus, :where(.css-dev-only-do-not-override-sk7ap8).ant-input-focused {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-checkbox-checked .ant-checkbox-inner {
  background-color: themes.$primary-color;
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-link:not(:disabled):hover {
  color: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-1n7nwfa).ant-btn-primary:not(:disabled):hover {
  background: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-submenu-title:active {
  background-color: themes.$active-menu_background;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light:not(.ant-menu-horizontal) .ant-menu-item:not(.ant-menu-item-selected):active {
  background-color: themes.$active-menu_background;
}

.ant-checkbox-checked .ant-checkbox-inner {
  background-color: themes.$primary-color;
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-input:hover {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-input:focus, :where(.css-dev-only-do-not-override-ixblex).ant-input-focused {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-input-affix-wrapper:focus, :where(.css-dev-only-do-not-override-ixblex).ant-input-affix-wrapper-focused {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-card {
  border-radius: 4px;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-card .ant-card-body {
  border-radius: 4px;
}

//modal styles
:where(.css-dev-only-do-not-override-sk7ap8).ant-modal .ant-modal-content {
  border-radius: themes.$border-radius;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-modal .ant-modal-title {
  font-weight: 400;
}

// buttons styles
:where(.css-dev-only-do-not-override-diro6f).ant-btn-primary {
  background-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-diro6f).ant-btn-primary:not(:disabled):hover {
  background-color: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-btn-primary {
  background-color: themes.$primary-color;
}

.ant-layout-content {
  overflow: auto;
  padding: 0 !important;
}

.ant-image-mask {
  width: 242px;
  height: 182px;
}

:where(.css-dev-only-do-not-override-ixblex).ant-pagination .ant-pagination-item-active {
  border-color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-pagination .ant-pagination-item-active a {
  color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-pagination .ant-pagination-item-active:hover {
  color: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-pagination .ant-pagination-item-active:hover {
  border-color: themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-ixblex).ant-pagination .ant-pagination-item:focus-visible {
  outline: 2px solid themes.$disabled-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: themes.$primary-color;
}

:where(.css-dev-only-do-not-override-sk7ap8).ant-result .ant-result-content {
  margin: 0;
  padding: 0;
  background-color: transparent;
  text-align: center;
  font-weight: bold;
}

:where(.css-dev-only-do-not-override-diro6f).ant-layout .ant-layout-sider {
  background-color: white;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light .ant-menu-item-selected {
  background-color: themes.$active-menu_background;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light .ant-menu-item-selected {
  color: themes.$font-title-color;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu-light .ant-menu-submenu-selected > .ant-menu-submenu-title {
  color: themes.$font-title-color;
}

:where(.css-dev-only-do-not-override-diro6f).ant-menu .ant-menu-item .ant-menu-item-icon, :where(.css-dev-only-do-not-override-diro6f).ant-menu .ant-menu-submenu-title .ant-menu-item-icon {
  display: inline-grid;
}

:where(.css-dev-only-do-not-override-diro6f).ant-form-item .ant-form-item-label > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  display: none;
}

.ant-form-vertical .ant-form-item-row {
  background: #F6F6F6;
  border-radius: 8px;
  padding: 12px;
}

.input-styles:focus {
  border-color: transparent !important;
  box-shadow: 0 0 0 0 rgba(55, 81, 13, 0.19);
}

.input-styles:hover {
  border-color: transparent !important;
}

.ant-input-focused {
  box-shadow: 0 0 0 0 rgba(55, 81, 13, 0.19) !important;
}

.ant-input {
  padding: 0;
  background-color: transparent !important;
  border-color: transparent !important;
}

:where(.css-dev-only-do-not-override-17dxcc2).ant-form-vertical .ant-form-item-label, :where(.css-dev-only-do-not-override-17dxcc2).ant-col-24.ant-form-item-label, :where(.css-dev-only-do-not-override-17dxcc2).ant-col-xl-24.ant-form-item-label {
  padding: 0 0 0 3px !important;
}

:where(.css-dev-only-do-not-override-17dxcc2).ant-input:focus, :where(.css-dev-only-do-not-override-17dxcc2).ant-input-focused {
  box-shadow: 0 0 0 0 rgba(55, 81, 13, 0.19) !important;
}
