$primary-color: #689F3A;
$info-color: #1358BF;
$info-hover-color: rgba(19, 88, 191, 0.43);
$font-title-color: #273043;
$gray-color: #7E8697;
$dark-gray-color: #333333;
$cloud-color: #F5F9FF;
$cloud-bg-button: #ECF4FF;
$light-gray-color: #EAEAED;
$light-blue-color: #F2F8FF;
$light-gray-color: #F8F8F8;
$red-color: #B80B0B;
$white-color: #ffffff;
$light-gray-bg: #FAFAFF;
$gray-bg: #F4F4F4;
$light-blue-bg: #F8FCFD;
$disabled-color: #ACCA93;
$orange: #F59300;
$border-radius: 8px;
$info-map-color: #1358BF;
$active-menu_background: rgba(172, 202, 147, 0.33);
