.UserTechnique {
  &__table {
    padding: 16px;
    background: #ffffff;
  }

  &__image-styles {
    width: 48px;
    height: 50px;
    overflow: clip;
    border-radius: 3px;
    object-fit: cover;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__header {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-title {
    display: flex;
    align-items: baseline;
  }

  &__title {
    display: flex;
    font-weight: 400 !important;
  }

  &__view-button {
    background: #ECF4FF;
    border: none;
    color: #1358BF;
    font-weight: 700;
    font-size: 14px;
    margin-left: 12px;
  }

  &__subtitle {
    margin: 0;
    padding-left: 7px;
    font-weight: 700 !important;
  }

  &__tractor-blue {
    width: 24px;
  }

  &__text_processed_area {
    position: absolute;
    left: 20px;
  }
}

.link-icons {
  cursor: pointer;
}
