@use 'assets/scss/_mixins.scss';

.UserTechnique {
  position: relative;
  &__table {
    padding: 16px;
    background: #ffffff;
  }

  &__btn_handler {
    position: absolute;
    right: 16px;
    top: 84px;
  }

  &__image-styles {
    width: 48px;
    height: 50px;
    overflow: clip;
    border-radius: 3px;
    object-fit: cover;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__header {
    margin-bottom: 33px;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  &__header-title {
    display: flex;
    align-items: baseline;
  }

  &__title {
    display: flex;
    font-weight: 400 !important;
  }

  &__view-button {
    background: #ECF4FF;
    border: none;
    color: #1358BF;
    font-weight: 700;
    font-size: 14px;
    margin-left: 12px;
  }

  &__subtitle {
    margin: 0;
    font-weight: 700 !important;
  }

  &__tractor-blue {
    width: 24px;
  }

  &__text_processed_area {
    position: absolute;
    left: 20px;
  }

  @include mixins.bp(tablet) {
    &__title {
      display: block;
    }

    &__subtitle {
      margin-bottom: 0 !important;
    }

    &__btn_handler {
      position: initial;
    }

    &__header {
      flex-direction: column;
      align-items: initial;
      padding-left: 7px;
    }
  }

  @include mixins.bp(mobile) {
    &__header-title {
      display: block;
    }
    &__header {
      display: block;
    }

    &__btn_handler {
      position: relative;
      top: 0;
      left: 0;
      > button {
        width: 100%;
      }

      a {
        > button {
          margin-left: 0;
          width: 100%;
          margin-top: 15px;
        }
      }
    }
    &__title {
      display: block;
      margin-top: 12px;
    }
    &__subtitle {
      padding-left: 0;
    }
  }

  .ant-typography h3 {
    margin: 0;
  }
}

.link-icons {
  cursor: pointer;
}

