@use 'assets/scss/_mixins.scss';

.AppRouter {
  > aside {
    background: white !important;
  }

  &__title-mobile {
    margin: 14px 32px;
  }

  &__top-sidebar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
  }

  &__sidebar-arrow {
    margin-left: 20px;
    cursor: pointer;
  }

  &__sidebar-info {
    flex-grow: 1;
  }

  &__sidebar-title {
    position: relative;
    top: -5.5px;
    text-align: center;
  }

  &__sidebar-button {
    border: none;
    position: relative;
    z-index: 1000;
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.02);
  }

  @include mixins.bp(desktop) {
    &__top-sidebar {
      height: 50px;
      border-bottom: 1px solid #ebf3ff;
    }
    &__sidebar-title {
      font-weight: 500!important;
      font-size: 14px !important;
      margin-left: -18px;
    }
  }
  header{
    //height: auto;
  }

  @include mixins.bp(mobile) {
    position: relative;
    &__title-mobile {
      margin: 14px 32px;
      color: #1D2024!important;
      font-weight: 600!important;
      font-size: 16px!important;
    }
  }
}

@media screen and (max-width: 340px) {
  .AppRouter {
    &__top-sidebar {
      padding-bottom: 58px;
    }
  }
}
