@use 'assets/scss/_themes.scss';

.DeleteRejectTechniqueModal {
  &__delete-modal-buttons {
    display: flex;
    gap: 12px;
    padding-bottom: 20px;
  }

  &__cancel-profile-button {
    background: themes.$gray-color !important;
    &:hover {
      background: rgb(112, 121, 136) !important;
    }
  }

  &__delete-profile-button {
    background: themes.$red-color !important;
    &:hover {
      background: rgba(193, 16, 48, 0.6) !important;
    }
  }
}
