@use "assets/scss/_themes.scss";
@use 'assets/scss/_mixins.scss';
.FieldClimateModal {
  &__form-modal-block {
    display: flex;
    gap: 13px;
    > div {
      width: 100%;
    }
  }

  &__profile-buttons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__delete-button {
    background: themes.$light-gray-color;
    color: themes.$primary-color;
    box-shadow: 0 0 0 rgba(55, 81, 13, 0.19);
    &:hover {
      background: rgba(141, 141, 141, 0.15) !important;
    }
  }

  &__save-button {
    background: themes.$primary-color;
  }

  &__username-info {
    padding: 0;
  }
  @include mixins.bp(desktop) {
    &__form-modal-block {
      > div > div {
        background-color: #FFFFFF!important;
      }
    }
    &__profile-buttons {
      margin-top: 20px;
      > button {
        height: 44px;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 12px;
      }
    }
  }
  @include mixins.bp(mobile) {
    &__profile-buttons {
      display: block;
    }
  }
}
