@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.ApksList {
  &__table {
    padding: 16px;
    background: themes.$white-color;
  }

  &__apks-list-block {
    display: flex;
    flex-direction: row;
    gap: 16px;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 90px;
  }

  &__apks-block {
    margin: 10px;
    width: 327px;
    height: 100%;
    > div {
      display: flex;
      flex-direction: column;
    }
  }

  &__apk-description {
    display: -webkit-box;
    max-width: 100%;
    height: 40px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: break-spaces;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
  }

  &__apks-button {
    margin: 15px 0;
    color: #689f3a;
  }

  &__download-button {
    float: right;
    background: themes.$dark-gray-bg;
    border: none;
    color: themes.$dark-blue;
    font-weight: themes.$font-weight-700;
  }

  .ant-badge.ant-badge-status .ant-badge-status-dot {
    width: 12px !important;
    height: 12px !important;
  }

  &__download-icon-button {
    border: none;
    color: themes.$dark-blue;
    font-weight: themes.$font-weight-700;
  }

  @include mixins.bp(mobile) {
    &__apks-list-block {
      flex-direction: column;
    }
  }
}
