@use 'assets/scss/_themes.scss';

.RequestRegisterUser {
  &__form-block {
    display: flex;
    gap: 13px;
    > div {
      width: 100%;
    }
  }

  &__username-info {
    padding: 0;
  }

  &__profile-buttons {
    margin-top: 35px;
    display: flex;
    gap: 10px;
  }

  &__delete-button {
    background: themes.$red-color !important;
    &:hover {
      background: rgba(193, 16, 48, 0.6) !important;
    }
  }

  &__save-button {
    background: themes.$primary-color;
  }

  &__email-input {
    width: 50% !important;
  }
}

.info-block {
  width: 50%;
}

