@use "assets/scss/_themes.scss";

.DeleteUserModal {
  &__delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__delete-modal-buttons {
    margin-top: 25px;
    display: flex;
    gap: 10px;
    width: 100%;
  }

  &__cancel-profile-button {
    background: themes.$light-gray-color !important;
    color: themes.$primary-color;
    box-shadow: 0 0 0 rgba(55, 81, 13, 0.19);
    &:hover {
      background: rgb(112, 121, 136) !important;
    }
  }

  &__delete-profile-button {
    background: themes.$red-color !important;
    &:hover {
      background: rgba(193, 16, 48, 0.6) !important;
    }
  }

  &__delete-image {
    width: 48px;
    height: 48px;
  }
}
