@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.Converter {
  display: flex;
  flex-direction: column;
  gap: 12px;
  padding: 9px;

  &__converter-block {
    display: flex;
    gap: 15px;
  }

  &__card-file-block {
    width: 100%;

    > div {
      padding: 12px !important;
    }
  }

  &__converter-card {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 16px;
  }

  &__info-column {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 250px;
  }

  &__convert-item {
    width: 230px;
    > input {
      display: none;
    }
  }

  &__title {
    margin: 0;
    text-transform: uppercase;
  }

  &__select-block {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  &__history-list {
    display: flex;
    flex-wrap: wrap;
    background: themes.$white-color;
    width: 100%;
    border-radius: themes.$border-radius;
  }

  &__heading {
    margin: 0 !important;
  }

  &__subtitle {
    margin-left: 30px;
  }

  &__close-button {
    border: none;
    &:hover {
      border: none;
    }
    box-shadow: 0 0 0 rgba(0, 0, 0, 0.02);
  }

  &__link-img {
    width: 35px;
    margin-bottom: 10px;
  }

  &__files-link-block {
    display: flex;
    flex-direction: column;
  }

  &__select-field {
    > div {
      border: none !important;
      background-color: themes.$light-gray-color !important;
    }
  }

  &__info-item {
    margin: 5px 0;
  }

  .ant-typography h5 {
    margin-bottom: 0 !important;
  }

  .title-heading {
    margin-top: 12px;
    padding-left: 2px;
  }

  &__file-info-block {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 19px 0;
  }

  @include mixins.bp(desktop) {
    &__history-list {
      display: flex;
      flex-wrap: wrap;
      background: none;
      width: auto;
      border-radius: initial;
    }
    > div > div {
      padding: 12px!important;
    }
  }

  @include mixins.bp(mobile) {

    > a {
      > div {
        width: 100% !important;
        > div {
          padding: 0!important;
          height: 48px;
        }
      }
    }
    &__converter-block{
      height: 180px;
      position: relative;
    }

    &__select-block {
      display: flex;
      width: 100%;
      position: absolute;
      bottom: 28px;
      left: 0;
    }

    &__files-link-block_mobile {
      display: flex;
      width: 100%;
      position: relative;
      > div {
        margin-top: 6px;
        margin-left: 10px;
      }
      > p {
        margin-left: 10px;
      }

      .next_icons {
        position: absolute;
        top: 8px;
        right: 10px;
      }
    }

    &__update_file {
      position: absolute;
      bottom: 0;
      left: 0;
      height: 36px!important;
      background-color: #689F3A;
      box-shadow: none!important;
      color: #FFFFFF!important;
      font-weight: 600;
      font-size: 13px;
    }
  }
}

.button-width {
  width: auto !important;
  margin-right: 10px;
}
