@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.UserRequests {

  &__table {
    padding: 16px;
    background: themes.$white-color;
  }

  &__profile-link {
    color: themes.$info-color;
    &:hover {
      color: themes.$info-hover-color;
    }
  }

  &__btn {
    float: right;
  }

  &__card-style-mobile {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 12px;
    width: 300px;
    border-radius: 12px;
    > div {
      display: flex;
      gap: 12px;
      padding: 12px 12px 12px 2px !important;
    }
  }

  &__request-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__request-title {
    margin: 0 !important;
    font-size: 16px!important;
    font-weight: 600!important;
  }

  &__request-info {
    display: flex;
    flex-direction: column;
  }

  @include mixins.bp(desktop) {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &__table {
      width: 100%;
    }
  }

  @include mixins.bp(mobile) {
    margin: 0 0 100px 0;
    flex-direction: column;
    height: auto;

    &__scroll_hidden > div > div {
      overflow: hidden!important;
    }
  }
}
