@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.UserRequests {

  &__table {
    padding: 16px;
    background: themes.$white-color;
  }

  &__profile-link {
    color: themes.$info-color;
    &:hover {
      color: themes.$info-hover-color;
    }
  }

  &__btn {
    float: right;
  }

  &__card-style-mobile {
    margin: 15px auto;
    width: 300px;
    border-radius: 8px;
    > div {
      display: flex;
      gap: 12px;
      padding: 13px !important;
    }
  }

  &__request-block {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }

  &__request-title {
    margin: 0 !important;
  }

  &__request-info {
    display: flex;
    flex-direction: column;
  }

  @include mixins.bp(desktop) {
    display: flex;
    flex-wrap: wrap;
    height: 100%;

    &__table {
      width: 100%;
    }
  }

  @include mixins.bp(mobile) {
    margin: 20px 0 100px 0;
  }
}
