@use 'assets/scss/_themes.scss';

.TechniqueMap {
  &__card-block {
    position: fixed;
    padding-left: 20px;
    top: 74px;
    z-index: 999;
    display: flex;
    min-width: 100%;
    flex-direction: row;
    justify-content: space-between;
    gap: 15px;
    align-items: center;
  }

  &__card-block-info {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-right: 270px;
  }

  &__card-style {
    display: flex;
    border-radius: 58px;
  }

  &__arrow-left {
    padding: 0 10px;
    cursor: pointer;
    width: 35px;
  }

  &__header-title {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }

  &__title_maps {
    display: none;
  }

  &__title-info {
    > span > strong {
      font-size: 15px;
      line-height: 0.7 !important;
    }
  }

  &__img-title {
    width: 28px;
  }

  &__title {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: 12px;
  }

  &__drawer-block {
    display: flex;
    flex-direction: column;
  }

  &__info-block {
    display: flex;
    flex-direction: column;
    margin: 26px;
  }

  &__status_btn {
    position: absolute;
    top: 12px;
    right: 16px;
  }

  &__form-block {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 10px;
    grid-row-gap: 10px;

    > div {
      width: 100%;
      margin-bottom: 0px;
    }
  }

  &__profile-title {
    margin: 12px 0;
  }

  &__view-button {
    width: 100%;
    height: 44px;
    background: #689F3A;
    border: none;
    border-radius: 12px;
    color: #FFFFFF!important;
    font-weight: 600;
    font-size: 14px;
    margin-top: 16px;
  }

  &__close-button {
    padding: 0;
    background: none;
    position: absolute;
    left: -84px;
    top: 20px;
    width: 40px;
    height: 40px;
    &:active {
      background-color: transparent;
    }
    &:hover {
      background-color: transparent !important;
    }
  }

  &__active-buttons-block {
    display: flex;
    gap: 5px;
  }

  .cursor {
    cursor: default;
  }

  &__active-button {
    border-radius: 26px;
    width: 130px;
    &:hover {
      background-color: themes.$primary-color !important;
    }
  }

  &__speed-button {
    border-radius: 26px;
    width: 130px;
    background-color: themes.$orange;
    &:hover {
      background-color: themes.$orange !important;
    }
  }

  .input-styles {
    padding: 0;
  }

  .ant-card .ant-card-body {
    padding: 4px 15px 4px 9px;
  }
}

@media (max-width: 990px) {
  .TechniqueMap {
    &__card-block-info {
      padding-right: 20px;
    }
    .leaflet-left {
      bottom: 140px;
    }

    &__render_btn {
      bottom: 210px;
    }
    &__title_maps {
      display: block;
    }

    &__header-title > button {
      position: relative;
      z-index: 100;
    }
  }

  .top_btn {
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 0 0 #ffffff!important;
    > div {
      width: 100%;
      padding: 0!important;
      > div > p {
        width: 100%;
        text-align: center;
        margin-top: -23px;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

.btn_status_active {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  width: 110px;
  font-size: 12px;
  font-weight: 500;
}
@media (max-width: 720px) {
  .TechniqueMap {
    &__card-block {
      top: auto;
      display: block;
      padding-left: 0;
    }
    &__card-block-info {
      width: 100%;
      justify-content: center;
      background-color: #ffffff;
      gap: 0;
      margin-top: -5px;
      padding-bottom: 10px;
    }

    &__card-style {
      box-shadow: 0 0 0 0 #ffffff !important;
    }

    &__subtitle {
      font-size: 14px !important;
      padding-left: 0;
      padding-right: 0;

      > span {
        font-size: 14px;
      }
    }

    &__img-title {
      margin: -3px 5px 0px -6px;
      width: 23px;
    }
  }

  .img-tractor {
    width: 23px;
  }

  .top_btn > div > div > p {
    border-bottom: 1px solid #ebf3ff;
    padding-bottom: 12px;
  }
}

@media (max-width: 990px) {
  .TechniqueMap {
    &__card-block-info {
      padding-right: 20px;
    }
    .leaflet-left {
      bottom: 140px;
    }

    &__render_btn {
      bottom: 210px;
    }
    &__title_maps {
      display: block;
    }

    &__header-title > button {
      position: relative;
      z-index: 100;
    }
  }

  .top_btn {
    width: 100%;
    position: absolute;
    top: -50px;
    left: 0;
    z-index: 100;
    box-shadow: 0 0 0 0 #ffffff !important;
    > div {
      width: 100%;
      padding: 0 !important;
      > div > p {
        width: 100%;
        text-align: center;
        margin-top: -23px;
        font-weight: 500;
        font-size: 15px;
      }
    }
  }
}

@media (max-width: 720px) {
  .TechniqueMap {
    &__card-block {
      top: auto;
      display: block;
      padding-left: 0;
    }
    &__card-block-info {
      width: 100%;
      justify-content: center;
      background-color: #ffffff;
      gap: 0;
      margin-top: -5px;
      padding-bottom: 10px;
    }

    &__card-style {
      box-shadow: 0 0 0 0 #ffffff !important;
    }

    &__subtitle {
      font-size: 14px !important;
      padding-left: 0;
      padding-right: 0;

      > span {
        font-size: 14px;
      }
    }

    &__img-title {
      margin: -3px 5px 0px -6px;
      width: 23px;
    }

    &__mobile_header {
      width: 100%;
      height: 44px;
      align-items: center;
      display: flex;
      background-color: #FFFFFF;
      > button {
        top: 9px;
        position: absolute;
        background-color: transparent;
        border: none;
      }
      > p {
        width: 100%;
        font-size: 13px;
        font-weight: 500;
        margin-top: 11px;
        text-align: center;
      }
    }
  }

  .img-tractor {
    width: 23px;
  }

  .top_btn > div > div > p {
    border-bottom: 1px solid #ebf3ff;
    padding-bottom: 12px;
  }
}

@media (max-width: 500px) {
  .TechniqueMap {
    &__card-block-info {
      justify-content: space-around;
      padding-right: 0;
    }
    &__info-block {
      margin: 0 16px 0 16px;
    }
    &__status_btn {
      top: 54px;
    }
  }
}
