@use "assets/scss/_themes.scss";

.SignIn {
  height: 100vh;
  overflow-y: hidden;

  @media (max-width: 1333px) {
    overflow-y: auto;
  }

  &__image-styles {
    width: 100%;
  }

  &__main-colum-styles {
    z-index: 10;
    margin: 90px auto 40px auto;
  }

  &__subtitle {
    margin: 30px 0 5px 0;
  }

  &__title {
    margin: 0 0 30px 0;
  }

  &__login-form-button {
    background: themes.$primary-color;
  }

  &__buttons-col {
    display: flex;
    flex-direction: column;
    padding: 4px 0;
    align-items: flex-start;
    margin-top: 20px;
    > button {
      color: themes.$primary-color;
      padding: 4px 15px 4px 0;
      > a {
        padding: 4px 15px 4px 0;
        color: themes.$primary-color;
        font-weight: bold;
        &:hover {
          color: themes.$disabled-color;
        }
      }
    }
  }

  &__button-links {
    font-weight: bold;
    &:hover {
      color: themes.$disabled-color !important;
    }
  }
}
