@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.SignIn {
  overflow: hidden;
  height: 100vh;

  > div {
    width: 500px;
  }
  &__image-styles {
    width: 100%;
    height: 100vh;
  }

  &__block_form {
    width: 600px;
  }

  &__main-colum-styles {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: initial;
  }

  &__title {
    font-size: 30px !important;
    margin: 25px 0 30px 0;
  }

  &__login-form-button {
    background: themes.$primary-color;
    &:hover {
      background-color: themes.$disabled-color !important;
    }
  }

  &__buttons-row {
    position: absolute;
    bottom: 53px;
    width: 100%;
    text-align: center;

    > button {
      width: 100%;
      color: themes.$primary-color;
      background-color: themes.$light-gray-color;
      &:hover {
        color: themes.$primary-color !important;
        background-color: themes.$light-gray-color !important;
      }
    }
  }

  &__button-links {
    font-weight: bold;
    &:hover {
      color: themes.$disabled-color !important;
    }
  }

  &__title-text {
    margin: 0 0 25px 0 !important;
    font-size: 25px !important;
  }

  &__logo-image {
    width: 100px;
    display: flex;
    margin: 15px auto 0 auto;
  }

  @include mixins.bp(desktop) {
    &__image-block {
      display: none;
    }
  }
}
