@use 'assets/scss/_themes.scss';
@use 'assets/scss/_mixins.scss';

.DeleteModal {
  &__delete-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  &__delete-modal-buttons {
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 100%;
  }

  &__delete-profile-button {
    background: themes.$red-color !important;
    &:hover {
      background: rgba(193, 16, 48, 0.6) !important;
    }
  }

  &__delete-image {
    width: 48px;
    height: 48px;
  }

  @include mixins.bp(mobile) {
    &__delete-modal-buttons {
      flex-direction: column;
      > button {
        height: 44px;
        border: none!important;
        border-radius: 8px!important;
      }
    }
    &__delete-container {
      display: flex;
      justify-content: left;
      align-items: normal;

      > h4 {
        margin-top: 5px;
        margin-bottom: 5px;
      }
      > span {
        text-align: left!important;
      }
    }
  }
}

@include mixins.bp(mobile) {
  .delete-drawer-block {
    padding: 30px;
  }
}
