@use 'assets/scss/_mixins.scss';

.GeneratedPasswordModal {
  &__new-password {
    font-size: 20px;
    color: #273043;
    font-weight: 600;
    margin-top: -8px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
  }

  @include mixins.bp(mobile) {
    &__save_btn {
      height: 44px;
      border-radius: 8px;
    }

    &__text {
      padding-left: 10px;
      margin-bottom: 20px;
    }

    &__new-password {
      display: flex;
      align-items: center;
      padding-left: 10px;
      border-radius: 8px;
      height: 56px;
      background-color: #EEF4F4;
    }
  }
}