.GeneratedPasswordModal {
  &__new-password {
    font-size: 20px;
    color: #273043;
    font-weight: 600;
    margin-top: -8px;
  }

  &__text {
    font-size: 14px;
    font-weight: 400;
    margin-top: -5px;
  }
}