@use 'assets/scss/_themes.scss';

.CreateNewUserCredentials {
  &__profile-buttons {
    margin-top: -20px;
    display: flex;
    align-items: center;
    gap: 10px;
    border-radius: 4px;
  }

  &__username-info {
    font-weight: 600;
    font-size: 20px;
    color: themes.$dark-gray-color;
    position: relative;
    top: -12px;
    margin-top: 12px;
  }

  &__text {
    font-weight: 400;
    color: #273043;
    margin-top: -4px;
  }

  &__mt_success {
    margin: -4px 0 5px 0;
  }
}
