@use 'assets/scss/_themes.scss';

.CreateNewUserCredentials {
  &__profile-buttons {
    margin-top: 35px;
    display: flex;
    align-items: center;
    gap: 10px;
  }

  &__username-info {
    font-weight: 600;
    font-size: 24px;
    color: themes.$dark-gray-color;
  }
}
